<div class="site-nav">
  <img class="green-crew-logo" src="../assets/images/GreencrewHD-no-black-lines-201116-370-7cm.png" />
  <nav>
      <ul class="nav-links">
        <a class="nav-link btn left btn--white btn--animated" routerLink="/join-us" routerLinkActive="active">Join Us</a>
        <a class="nav-link btn btn--white btn--animated" href="#">Information</a>
        <a class="nav-link btn btn--white btn--animated" routerLink="/gallery" routerLinkActive="active">Gallery</a>
        <a class="nav-link btn btn--white btn--animated" routerLink="/location" routerLinkActive="active">Location</a>
        <a class="nav-link btn right btn--white btn--animated" routerLink="/contact-us" routerLinkActive="active">Contact Us</a>
        <a class="nav-link btn btn--white btn--animated facebook" href=""><i class="fab fa-facebook-f"></i></a>
        <a class="nav-link btn btn--white btn--animated twitter"href=""><i class="fab fa-twitter"></i></a>
      </ul>
  </nav>
</div>


