@import '../../sass/variables.scss';

.site-nav {
  // background-color: $color-primary-dark;
  background-image: linear-gradient(to right bottom, $color-primary-light, green);
}

.green-crew-logo {
  position: absolute;
  height: 26%;
  margin-left: 10px;
  margin-top: 10px;
}

.nav-links ul li {
  list-style-type: none;
}
nav {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  height: 105px;
  margin-bottom: 155px;
}
.nav-link{


}

// nav button

.btn {
  &:link,
  &:visited {
      text-transform: uppercase;
      text-decoration: none;
      padding: 1rem 3rem;
      display: inline-block;
      transition: all .2s;
      position: relative;
      // font-size: $default-font-size;
  }

  &:hover {
      transform: translateY(-.3rem);
      box-shadow: 0 1rem 3rem rgba($color-black,.2);
      background-color: $color-primary-light;

      // &::after {
      //     transform: scaleX(1.4) scaleY(1.6);
      //     opacity: 0;
      // }
  }

  &:active {
      transform: translateY(-.1rem);
      box-shadow: 0 .5rem 1rem rgba($color-black,.2);
  }

  &--white {
      background-color: $color-primary;
      color: green;

      &::after {
          background-color: $color-primary;
      }
  }

  &::after {
      content:"";
      display: inline-block;
      height: 100%;
      width:100%;
      //border-radius: 10rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all .4s;
  }

  &--animated {
      animation: moveInBottom .5s ease-out .75s;
      animation-fill-mode: backwards;
  }
}

.btn-text {
  &:link,
  &:visited {
      // font-size: $default-font-size;
      color: $color-primary;
      display: inline-block;
      text-decoration: none;
      border-bottom: 1px solid $color-primary;
      padding: 3px;
      transition: all .2s;
  }

  &:hover {
      background-color: $color-primary;
      color: $color-white;
      box-shadow: 0 1rem 2rem rgba($color-black, .15);
      transform: translateY(-2px);
  }

  &:active {
      box-shadow: 0 .5rem 1rem rgba($color-black, .15);
      transform: translateY(0);
  }
}

.btn{
  &:link,
  &:visited {
    &:left {
      border-radius: 10rem;
    }

    &:right {
      border-radius: 10rem;
    }
  }
}

